.project
.metadata
.settings
.DS_Store
*.def.js
*.gen.js
/actions
/config
/conversations
/coverage
/doc
/public
/routes
/servers
/simulator
/src-gen
/node_modules
*~
*.swp
conversation-*.tgz
*.log
.idea/
.npmrc.ignore
rest
